<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
          <basicHttpBinding>
            <binding name="Default" maxReceivedMessageSize="2147483647"/>
            <binding name="Mtom" messageEncoding="Mtom" maxReceivedMessageSize="2147483647"/>
          </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://facade-ch02.picturepark.com/ExtendedPublicService.svc"
                binding="basicHttpBinding" bindingConfiguration="Default"
                contract="PP_SOAP_Service.IExtendedPublicService" name="Default" />
            <endpoint address="http://facade-ch02.picturepark.com/ExtendedPublicService.svc/Mtom"
                binding="basicHttpBinding" bindingConfiguration="Mtom" contract="PP_SOAP_Service.IExtendedPublicService"
                name="Mtom" />
        </client>
    </system.serviceModel>
  <system.net>
    <defaultProxy enabled="true">
      <proxy  usesystemdefault="true"
              proxyaddress="http://[proxy address]:[proxy port]"
             bypassonlocal="false"/>
    </defaultProxy>
  </system.net>
</configuration>